@use '@angular/material' as mat;

.widget {   
  @include mat.theme((color: mat.$cyan-palette, ));
  width: 650px;
  background: var(--mat-sys-secondary-container);
  border: #083eb4 2px solid;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  margin-bottom: 10px;   
}

.widget-header {
  display: grid;
  position: relative;
  border-bottom: #0e6321 2px solid;
  margin: 0 -10px 15px -10px;
  padding: 15px;
}

.widget-content {
  height: 10vh;
  display: grid;
  justify-content: center;
  margin: 0 -10px 0 12px;
  transition: max-height 0.3s ease;
  overflow: hidden;
}
.widget-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--mat-sys-on-surface);
}
.widget-sub-title {
  font-size: 1rem;
}

.widget-actions {

  border-top: #0e6321 1px solid;
  margin: 0 -10px -10px -10px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
// .widget-actions button {
//   margin: 0 5px;
//   background-color: #ffd044;
//   padding: 5px 10px;
//   border-radius: 3px;
//   border: 1px solid #dba606;
//   color: #4d2e23;
//   font-weight: 600;
// }
// .widget-actions button:hover {
//   background-color: #ffd65c;
// }
// .widget-actions button:active {
//   background-color: #e7b51f;
// }


.toggle {
  position: absolute;
  //top: 12px;
  right: 15px;
  background-color: #0e6321;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}


