@import '@angular/cdk/overlay-prebuilt.css';

:host {
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    padding-right: 2.125em;
    position: relative;
  }
  
  section {
    align-items: center;
    border-radius: 0.25em;
    margin-bottom: 0.25em;
    padding: 1em;
    display: grid;
    grid-template-columns: 7em repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    column-gap: 1em;
    overflow: hidden;
  }
  
  img {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.25em;
    grid-column: 1;
    grid-row: 1 / -1;
    height: auto;
    width: 100%;
  }
  
  h2 {
    grid-column: 2 / -1;
    margin: 0;
  }
  
  dl {
    display: contents;
  }
  
  dt,
  dd {
    margin: 0;
    padding: 0;
  }
  
  dt {
    font-size: 0.625em;
    font-weight: bold;
  }
  
  button {
    background: transparent;
    border: solid 1px #bbb;
    bottom: 0.125em;
    display: block;
    font-size: 150%;
    padding: 0.125em 0;
    position: absolute;
    top: 0.125em;
    right: 0.125em;
    width: 1em;
    z-index: 1;
  }
  
  button:hover {
    background: white;
    opacity: 0.6;
    cursor: pointer;  
  }
  
  button.open {
    background: white;
  }
  .cdk-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  